In [2]:
import pandas as pd
import pathlib
import yfinance as yf

In [3]:
path = pathlib.Path('D:\Data Science\Real-Time-Data-Analysis\data\\raw\data.csv')
data = yf.download(tickers = "AAPL", start="2022-01-01", end="2022-04-30" ,interval="1h")

[*********************100%***********************]  1 of 1 completed

In [4]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
2022-01-03 09:30:00,177.830002,181.429993,177.710007,180.839996,180.839996,25170269
2022-01-03 10:30:00,180.850006,181.770004,180.389999,181.749893,181.749893,11976542
2022-01-03 11:30:00,181.750000,181.770004,181.074997,181.600006,181.600006,8143152
2022-01-03 12:30:00,181.595001,182.279007,181.490005,182.229706,182.229706,8407914
2022-01-03 13:30:00,182.225006,182.880005,181.809998,181.865005,181.865005,11618629

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 574 entries, 2022-01-03 09:30:00 to 2022-04-29 15:30:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       574 non-null    float64
 1   High       574 non-null    float64
 2   Low        574 non-null    float64
 3   Close      574 non-null    float64
 4   Adj Close  574 non-null    float64
 5   Volume     574 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 31.4 KB

In [8]:
data.reset_index(inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      574 non-null    datetime64[ns]
 1   Open       574 non-null    float64
 2   High       574 non-null    float64
 3   Low        574 non-null    float64
 4   Close      574 non-null    float64
 5   Adj Close  574 non-null    float64
 6   Volume     574 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 31.5 KB